.template-general {

    padding-top: 168px;

    @media (max-width: $screen-sm-max) {
        padding-top: 50px;
    }

    #navigation-bar {
        background-color: rgba($brand-3, 1);
    }

    #page-intro {
        background-size: cover;

        .page-title {
            padding-top: 140px;
            padding-bottom: 140px;
            h1, h4 {
                color :$gray-1;
                text-transform: uppercase;
            }
        }
    }

    #page-body {
        background-color: $gray-2;
        padding: 120px 0px 80px;

        .main-copy {
            margin-bottom: 60px;
            @media (min-width: $screen-md-min) {
                padding-right: 80px;
            }
            h4 {
                color: $brand-4;
                text-transform: uppercase;
            }
        }
        .info {
            @media (min-width: $screen-md-min) {
                margin-top: -160px;
            }

            .contact-row {
                > div {
                    margin-top: 20px;
                }
            }
        }

        .button {
            margin-top: 30px;
            color: $brand-4;
            border-color: $brand-4;
            display: inline-block;
        }
    }

    #page-main {
        background-position: bottom;
        background-size: cover;
        background-image: url('#{$img-path}bg/general-support.jpg');

        .main {
            padding-top: 120px;
            padding-bottom: 120px;

            p, ul, ol {
                font-size: 16px;
            }

            .main-copy {
                margin-bottom:60px;
                padding-right: 60px;

                h3 {
                    text-transform: uppercase;
                    color: $brand-4;
                    margin-top: 0px;
                }

                h5.subtitle  {
                    margin-top: 30px;
                    margin-bottom: 20px;
                    color :$brand-4;
                    text-transform: uppercase;
                }
            }
        }

        .infobox.h7 {
            margin-top:  15px;
            margin-bottom: 10px;
        }

        .button {
            margin-top: 30px;
            color: $brand-4;
            border-color: $brand-4;
            display: inline-block;
        }

        .monitor-image {
            width: 100%;
            margin-top: 40px;
        }


        a {
            color: $brand-4;
            &:hover {
                color: $brand-2;
            }
        }
    }


    .page-content-row {
        background-position:bottom;
        background-size: cover;
        padding: 80px 0px 80px;

        &:nth-of-type(2n+0) {
            background-color: $gray-5;
        }

        &:nth-of-type(2n+1) {
            background-image: url('#{$img-path}bg/product-generic-help.jpg');
        }


        .button {
            color: $brand-4;
            border-color: $brand-4;

            &:hover, &:active, &:focus {
                color: $brand-3;
                border-color: $brand-3;
            }
        }

        h3 {
            color: $brand-4;
            text-transform: uppercase;
            margin-bottom: 20px;

            .icon-training {
                vertical-align: baseline;
                padding-left: 15px;
                padding-right: 15px;
            }
        }

        .content {
            .content-body {
                margin-bottom: 60px;
                padding-right: 60px;
                @extend .body-text;

                hr {
                    margin-top: 30px;
                    margin-bottom: 30px;
                    border-color: $gray-7;
                }
                h5 {
                    margin-top: 0px;
                }
                h5.subtitle {
                    color: $brand-4;
                    text-transform: uppercase;
                }
                .h7 {
                    margin-top: 20px;
                    margin-bottom: 10px;
                }
            }
            .sidebar {
                .photo {
                    margin-bottom: 20px;
                    width: 100%;
                }
            }
        }

    }

    #page-help {
        background-image: url('#{$img-path}bg/general-support.jpg');

        .infobox {
            h5 {
            }
            .h7 {
                margin-top: 10px;
                margin-bottom: 10px;
            }
        }
    }

    #body-about-top {
        background-image: url('#{$img-path}bg/generic-about-01.jpg');
        background-position: bottom;
        background-size: cover;

        .title-row {
            padding-top: 80px;
            padding-bottom: 80px;
            h2 {
                color: $gray-1;
                text-transform: uppercase;
            }
        }
    }

    #body-about {
        background-image: url('#{$img-path}bg/home-intro.jpg');
        background-position: top;
        background-size: cover;
        padding-top: 120px;
        padding-bottom: 120px;

        h4 {
            color: $brand-4;
            text-transform: uppercase;
        }

        .sidebar {
            img {
                margin-top: 15px;
                margin-bottom: 30px;
            }
        }
    }

    #body-search-stripe {
        background-color: $brand-1;
        padding: 12px 0px;

        form.blog-category {
        }

        form.blog-search {
            input[type="text"] {
                background-color: rgba(0,0,0,0);
                color: white;
                border: 0px;
                border-bottom: 1px solid $gray-1;
                padding: 12px 5px;
                border-radius: 0px;

                &:focus {
                    outline: none;
                    border-bottom: 1px solid white;
                }
            }
            input[type="image"] {
                float: right;
                margin-top: -49px;
            }
        }

        ul.categories {
            color: $gray-1;
            list-style: none;
            padding-left: 0px;
            text-transform: uppercase;
            font-size: 16px;
            margin: 20px 0px 16px;
            li {
                display: inline-block;
                padding-right: 50px;
                a {
                    &:hover {
                        //text-decoration:underline;
                    }
                }
            }
        }

        .socialmedia {
            text-align: right;
            margin-top: 18px;

            img {
                padding-left: 15px;
                padding-right: 5px;
            }

        }
        
    }

    #body-news-list {
        background-image: url('#{$img-path}bg/home-intro.jpg');
        background-position: top;
        background-size: cover;
        padding-top: 80px;
        padding-bottom: 120px;

        h4 {
            color: $brand-4;
            text-transform: uppercase;
        }

        .blog-content {
            a {
                color: $brand-4;
                &:hover {
                    color: $brand-3;
                }
            }
            .title-icon {
                margin-top: 30px;
            }
        }

        .blog-thumbnail {
            img {
                width: 100%;
            }
        }

        hr {
            color: $gray-3;
            border-color: $gray-3;
        }
    }

    #body-blog-list {
        background-image: url('#{$img-path}bg/home-intro.jpg');
        background-position: top;
        background-size: cover;
        padding-top: 80px;
        padding-bottom: 120px;


        .blog-block {
            margin-bottom: 40px;

            &:nth-of-type(odd) {
                clear: left;
            }

            h5 {
                text-transform: uppercase;

                a {
                    color: $brand-4;
                    &:hover {
                        color: $brand-2;
                    }
                }
            }
            hr {
                border-top-color: $gray-7;                
            }
            
            .blog-thumbnail {
                img {
                    width: 100%;
                    height: 200px;
                    object-fit: contain;
                }
            }
        }

        .sidebar {
            margin-left: 20px;

            form.blog-search {
                input[type="text"] {
                    background-color: rgba(0,0,0,0);
                    color: $brand-1;
                    border: 0px;
                    border-bottom: 1px solid $brand-1;
                    padding: 12px 5px;
                    border-radius: 0px;
                    margin: 0px 0px 40px;

                    &:focus {
                        outline: none;
                        border-bottom: 1px solid $brand-2;
                    }
                }
                input[type="image"] {
                    float: right;
                    margin-top: -49px;
                }
            }
        }
    }

    #comments {
        margin-top: 30px;

        h5 {
            color: $brand-4;
            text-transform: uppercase;
        }

        hr {
            border-color: $brand-3;
            margin: 20px 0px 20px;
        }

        #reply-title {
            text-transform: uppercase;
            color: $brand-4;
        }
    }

    #body-contactus-top {
        background-image: url('#{$img-path}bg/generic-about-01.jpg');
        background-position: bottom;
        background-size: cover;

        .title-row {
            padding-top: 80px;
            padding-bottom: 160px;
            h2 {
                color: $gray-1;
                text-transform: uppercase;
            }
        }
    }

    #body-contactus-tabs {
        height: 64px;
        margin-top: -64px;        
    }

    #body-contactus {
        background-color: $gray-1;
        background-position: top;
        background-size: cover;
        padding-top: 120px;
        padding-bottom: 120px;

        h4 {
            color: $brand-4;
            text-transform: uppercase;
        }

        .infobox-title {
            background-color: white;            
        }

        .infobox {
            background-color: $gray-1;
        }

        .region {
            display: none;
            &.active {
                display: block;
            }
        }

        .contactus-email {
            h5.title {
                color: $brand-4;
                text-transform: uppercase;
                font-size: 18px;
            }
            h5 {
                font-size: 16px;
            }
            a {
                color: $brand-4;
                &:hover {
                    color: $brand-3;
                }
            }
        }

        .contactus-forms {            
            h5.title {
                color: $brand-4;
                text-transform: uppercase;
                font-size: 18px;
            }

            .contactus-forms-buttons {
                margin-top: 30px;

                a.button {
                    color: $brand-4;
                    border-color: $brand-4;
                }
            }
        }
    }

    #body-dealers-top {
        background-image: url('#{$img-path}bg/generic-about-01.jpg');
        background-position: bottom;
        background-size: cover;

        .title-row {
            padding-top: 80px;
            padding-bottom: 80px;
            h2 {
                color: $gray-1;
                text-transform: uppercase;
            }
        }
    }

    #body-dealers-select {
        background-color: $brand-1;
        padding-top: 10px;
        padding-bottom: 10px;

        select {
            width: 300px;
        }
    }

    #body-dealers {
        background-color: $gray-1;
        background-position: top;
        background-size: cover;
        padding-top: 40px;
        padding-bottom: 120px;

        a {
            color: $brand-4;

            &:hover {
                color: $brand-3;
            }
        }

        h4 {
            color: $brand-4;
            text-transform: uppercase;
        }

        .region-panel {
            display: none;

            &:nth-of-type(1) {
                display: block;
            }

            .country-row {
                padding-bottom: 40px;
                padding-top: 40px;
                border-bottom: 1px solid $gray-3;

                > div {
                    padding-top: 20px;
                    padding-bottom: 20px;
                    padding-left: 0px;

                }
            }
        }
    }    

    #page-software-update-select {        
        background-image: url('#{$img-path}bg/home-testimonial.jpg');

        padding-top: 80px;
        padding-bottom: 80px;
        background-position: top;
        background-size: cover;

        h5 {
            text-transform: uppercase;
            color: white;
        }

        a.button {
            display: inline-block;
            margin-top: 40px;
        }
    }

    &.project-support {

        div.bording > div {
            padding-bottom: 40px;
            border-bottom: 1px solid $gray-7;
        }

        .infobox {
            background-color: $gray-2;
        }

        .infobox-title {
            h4 {
                color: $brand-4;
                text-transform: uppercase;
                margin-top: 7px;
            }
        }

        .content {
            padding-top: 40px;
            font-size: 16px;

            a {
                color: $brand-4;
                &:hover {
                    color: $brand-3;
                }
            }

            h4 {
                color: $brand-4;
                text-transform: uppercase;
                padding-top: 20px;
            }

            .block1 {
                padding-right: 40px;
            }

            .block2 {
                border-left: 1px solid $gray-7;
                padding-left: 40px;
            }
        }
    }

    #page-software-update-form {
        padding-top: 80px;
        //padding-bottom: 80px;
        background-image: url('#{$img-path}bg/general-software-02.jpg');
        background-size: cover;            
        color: white;

        .download-icon {
            float: left;
            height: 60px;
            padding-right: 20px;
        }

        h4 {
            text-transform: uppercase;
        }
        h6 {
            text-transform: uppercase;
        }
        p {
            font-size: 16px;
            color: $brand-2;
        }

        form {
            padding-top: 20px;

            button {
                margin-top: 20px;
            }
        }

        .software-update {
            p, ul, li {
                color: white;
            }

            &.error, &.success {
                padding-bottom: 40px;
                display: none;
            } 
        }
    }

    .sidebar-content {
        h4, h5, h6 {
            color: $brand-4;
            text-transform: uppercase;
        }

        p, ol, ul {            
            font-size: 16px;
        }

        a {
            color: $brand-4;
            &:hover {
                color: $brand-3;
            }
        }

        button {
            margin-top: 15px!important;
            margin-bottom: 20px;
        }        
    }

    #page-software-update-install {
        color: $brand-2;
        padding-top: 80px;
        padding-bottom: 80px;

        p, ol, ul {            
            font-size: 16px;
        }

        h4, h5, h6 {
            color: $brand-4;
            text-transform: uppercase;
        }
        
        a {
            color: $brand-4;
            &:hover {
                color: $brand-2;
            }
        }
    }

    #body-career-header {     
        background-color: $gray-2;  
        padding-top: 80px;
        padding-bottom: 80px;
        font-size: 16px;

        h4, h5 {
            color: $brand-4;
            text-transform: uppercase;
        }
    }

    #body-career-list {
        background-color: $gray-3;
        padding-top: 80px;
        padding-bottom: 80px;
        h4, h5 {
            color: $brand-4;
            text-transform: uppercase;
        }

        .career-region {
            padding-top: 40px;
            padding-bottom: 10px;
            border-bottom: 1px solid $gray-4;
            h6 {
                text-transform: uppercase;
            }
        }
        .career-row {
            padding-top: 10px;
            padding-bottom: 10px;
            border-bottom: 1px solid $gray-4;

            h4, h5 {
                text-transform: capitalize;

                a {
                    color: $brand-4;
                    &:hover {
                        color: $brand-3;
                    }
                }
            }

            h4 {
                font-size: 22px;
            }

            h5 {
                color: $brand-2;
            }

            .icon {
                margin-top: 30px;
                height: 20px;
            }
        }
    }


    #page-overview-video {
        background-color: $brand-3;

        .overview-video-thumbnail {
            background-size: cover;
        }

        .thumbnail-description {
            padding: 80px 0px 0px 20px;

            h5.title {
                color: white;
            }
            h5 {
                color: $brand-1;
            }
            .linkout {
                &:hover, &:active, &:focus {
                    color: $gray-4;
                }
            }
        }
    }

    #body-about-bottom {
        background-image: url('#{$img-path}bg/product-generic-casestudy1.jpg');
        background-position: bottom;
        background-size: cover;
        padding-top: 120px;
        padding-bottom: 120px;

        h4 {
            color: $brand-4;
            text-transform: uppercase;
        }
    }

    #body-about-bottom2 {
        background-image: url('#{$img-path}bg/generic-about-01.jpg');
        background-position: bottom;
        background-size: cover;
        padding-top: 120px;
        padding-bottom: 120px;

        h4 {
            color: $gray-1;
            text-transform: uppercase;
        }
    }

    .map1 {
        padding-top: 120px;
        padding-bottom: 40px;

        .main-copy {
            margin-bottom:60px;
            padding-right: 60px;

            h3 {
                text-transform: uppercase;
                color: $brand-4;
                margin-top: 0px;
            }

            h5.subtitle  {
                margin-top: 30px;
                margin-bottom: 20px;
                color :$brand-4;
                text-transform: uppercase;
            }
        }
    }

    .map2 {
        background-image: url('#{$img-path}bg/generic-about-01.jpg');
        padding-top: 60px;
        padding-bottom: 60px;
        background-size: cover;

        h4 {
            text-transform: uppercase;
            color: $gray-1;
            margin-bottom: 20px;
        }
    }

    .map3 {
        background-image: url('#{$img-path}bg/product-generic-casestudy2.jpg');
        padding-top: 60px;
        background-size: cover;

        h5 {
            color: $brand-4;
            text-transform: uppercase;
            margin-top: 20px;
        }

        ul {
            padding-left: 0px;
            list-style-image: url('#{$img-path}icon/bullet-arrow.png');

            li {
                font-size: 16px;
                color: $brand-1;
                padding-top: 10px;
                padding-bottom: 10px;
            }
        }

        .col-md-4 {
            padding-right: 60px;
            padding-bottom: 40px;
        }
    }

    #body-region-top {
        background-image: url('#{$img-path}bg/home-testimonial.jpg');
        background-position: bottom;
        background-size: cover;

        .container {
            padding-top: 100px;
            padding-bottom: 100px;

            h1, h3 {
                color: $gray-1;
                text-transform: uppercase;
            }
        }
    }

    #body-region {
        background-image: url('#{$img-path}bg/general-support.jpg');
        background-size: cover;

        padding-top: 120px;
        padding-bottom: 120px;

        table {
            width: 100%;
            margin-bottom: 60px;

            &.english {
                tbody td {
                    border-bottom: none;
                }
            }

            td {
                border-bottom: 1px solid $gray-7;
            }

            thead {
                td {
                    @extend .h7;
                    padding: 10px 0px;
                }
            }
            tbody {
                td {
                    @extend .body-text;
                }
            }
        }

        a {
            color: $brand-4;

            &:hover, &:active, &:focus {
                color: $brand-3;
            }
        }
    }
    #body-404 {
        background-image: url('#{$img-path}bg/general-404.jpg');
        background-position: bottom;
        background-size: cover;

        .container {
            padding-top: 122px;
            padding-bottom: 200px;

            h1, h3 {
                color: $gray-1;
                text-transform: uppercase;
            }

            h5 {
                a {
                    &:hover, &:active, &:focus {
                        color: $brand-2;
                    }
                }
            }
        }
    }

    #body-contact-sales-form {
        background-image: url('#{$img-path}bg/product-generic-casestudy1.jpg');
        background-position: bottom;
        background-size: cover;
        padding-top: 40px;
        padding-bottom: 120px;

        h5.form-title {
            margin-top: 60px;
            color: $brand-4;
            text-transform: uppercase;
        }
        .h7 {
            margin-bottom: 10px;
            margin-top: 20px;
        }

        .formfield.state,
        .formfield.province {
            display: none;
        }

        .validationMessage {
            display: none;
            h5 {
                text-transform: none;
            }
        }

        .submit {
            margin-top: 40px;
            button {
                color: $brand-4;
                border-color: $brand-4;
            }
        }

        .info {
            margin-top: 80px;
        }
    }

    &.customize-support {
        h4 {
            text-transform: uppercase;
        }
        .button {
            border-color: $brand-4;
            color: $brand-4;
        }
    }

    &.events {


        .no-events {
            color: $brand-4;
        }
        .event-container {
            margin-bottom: 40px;
            .event-block {
            padding: 40px;
            background-color: white;
            border-radius: 8px;
            border: 1px solid $gray-7;
            display: block;
            transition: 0.5s;
            &:hover {
                background-color: $gray-1;
            }

            a {
                color: $brand-2;
            }

            img.thumb {
                width: 100%;
                padding-bottom: 30px;
            }

            h6.date {
                text-transform: uppercase;
                color: $brand-2;
            }

            h5.title {
                color: $brand-4;
                text-transform: uppercase;
            }

            h5.address {
                color: $brand-2;
            }

            h6.location {
                margin-top: 30px;
                color: $brand-4;
                text-transform: uppercase;

                img.pin {
                    margin-top: -5px;
                    padding-right: 10px;
                }

                img.link {
                    margin-top: -5px;
                }
            }
        }
        }

        #events-previous {
            background-color: $gray-3;
            padding-top: 100px;
            padding-bottom: 100px;
            h4 {
                text-transform: uppercase;
                color: $brand-4;
                margin-bottom: 48px;
            }
        }
    }

    &.event-page {
        .event-title {
            h3 {
                text-transform: uppercase;
                color: $brand-4;
                margin-bottom: 40px;
            }
        }

        .content {
            padding-right:40px;
            font-size: 16px;
            img.featured {
                max-width: 100%;
                margin-bottom: 40px;
            }
            
            a {
                color: $brand-4;
                &:hover {
                    color: $brand-3;
                }
            }
        }

        .infobox-title {
            background-color: white;
        }

        .infobox {
            background-color: #f7f7f7;

            .location {
                text-transform: uppercase;
                margin-top:20px;

                h6 {
                    color: $brand-4!important;
                    img.pin {
                        margin-top: -7px;
                        padding-right: 10px;
                    }

                }

            }
        }
    }

    .events-table {
        width: 100%;

        thead {
            td {
                font-size: 12px;
                text-transform: uppercase;
                padding-top: 15px;
                padding-bottom: 15px;
            }
        }
        tbody {
            tr {
                border-top: 1px solid $brand-2;

                td {
                    padding-top: 15px;
                    padding-bottom: 15px;
                    font-size: 16px;
                    padding-right: 15px;

                    a {
                        color: $brand-4;

                        &:hover {
                            color: $brand-1;
                        }
                    }
                }
            }
        }
    }

    .socialmedia {
        .heading {
            padding: 0px;
            border-bottom: 1px solid $gray-7;
            text-transform: uppercase;
            padding-bottom: 10px;
        }
        .media {
            padding-left: 0px;
            h5 {
                margin-top: 0px;
                margin-bottom: 0px;
                a {
                    color: $brand-2;
                    &:hover {
                        color: $brand-4;
                    }
                }
                img {
                    padding-right: 15px;
                    margin-top: -2px;
                }
            }
        }
    }

    &.webinars {
        #page-body {
            padding-bottom: 30px;
        }

        .no-webinars {
            color: $brand-4;
        }

        .content {
            img.featured {
                max-width: 100%;
            }
        }


        #page-upcoming-webinars {
            background-color: $gray-3;
            padding-top: 60px;
            padding-bottom: 60px;

            .heading {
                color: $brand-4;
                text-transform: uppercase;
                margin-bottom: 40px;
                padding-left: 0px;

                .icon {
                    padding-right: 10px;
                }
            }

            .webinar-row {
                padding: 30px 0px;
                border-top: 1px solid $gray-7;
                border-bottom: 1px solid $gray-7;

                .featured-image {
                    padding-left: 0px;
                    .thumb {
                        width: 100%;
                    }
                }
                .webinar-info {
                    h4 {
                        margin-top: 0px;
                        text-transform: uppercase;
                        color: $brand-4;

                        a {
                            color: $brand-4;
                            &:hover {
                                color: $brand-3;
                            }
                        }
                    }
                    .webinar-date {
                        font-size: 18px;
                    }
                }

                .webinar-linkout {
                    a {
                        text-transform: uppercase;
                        color: $brand-4;
                        &:hover {
                            color: $brand-2;
                        }
                    }
                    .icon {
                        padding-left: 10px;
                    }
                }
            }
        }

        #page-past-webinars {
            background-color: $gray-1;
            padding-top: 100px;
            padding-bottom: 100px;

            .heading {
                color: $brand-4;
                text-transform: uppercase;
                margin-bottom: 20px;
                .icon {
                    padding-right: 10px;
                }
            }

            .webinar-archive-title {
                padding: 0px;
                h6 {
                    text-transform: uppercase;
                }
            }

            .webinar-archive-daterow {
                background-color: $gray-3;
                border-top: 1px solid $gray-4;
                border-bottom: 1px solid $gray-4;
                padding: 5px 0px;
            }

            .webinar-archive-row {
                padding: 10px 0px;

                h5 {
                    font-size: 16px;

                    a {
                        color: $brand-4;

                        &:hover {
                            color: $brand-3;
                        }
                    }
                }

                .icon {
                    width: 16px;
                    margin-left: 10px;
                    margin-top: 15px;
                }
            }
        }
    }

    &.webinar-page {
        .webinar-title {
            h3 {
                text-transform: uppercase;
                color: $brand-4;
                margin-bottom: 40px;
            }
        }

        .content {
            padding-right:40px;
            font-size: 16px;
            img.featured {
                max-width: 100%;
                margin-bottom: 40px;
            }
            
            a {
                color: $brand-4;
                &:hover {
                    color: $brand-3;
                }
            }
        }

        .infobox-title {
            background-color: white;
        }

        .infobox {

            background-color: #f7f7f7;

            .location {
                text-transform: uppercase;
                margin-top:20px;

                h6 {
                    color: $brand-4!important;
                    img.pin {
                        margin-top: -7px;
                        padding-right: 10px;
                    }

                }

            }
        }
    }

    &.press-release {
        #page-intro {
            background-image: url('#{$img-path}bg/generic-about-01.jpg');
            .page-title {
                color: white;
                padding-top: 80px;
                padding-bottom: 80px;

                h2 {
                    text-transform: uppercase;
                }
            }
        }

        .press-release-brief {
            h6 {
                text-transform: uppercase;
                &.linkout {
                    a {
                        color: $brand-4;

                        &:hover {
                            color: $brand-2;
                        }
                    }
                }
            }
            h4 {
                margin-top: 10px;
                text-transform: uppercase;
                color: $brand-4;
            }
        }

        .infobox-title {
            background-color: white;
        }

        .infobox {
            background-color: #f7f7f7;
        }
    }

    &.blog-page {
        .blog-title {
            h3 {
                margin-bottom: 20px;
                text-transform: uppercase;
                color: $brand-4;
            }
            h6 {
                margin-bottom: 20px;
                text-transform: uppercase;
            }
        }

        .content {
            padding-right:40px;
            font-size: 16px;
            img.featured {
                max-width: 100%;
                margin-bottom: 40px;
            }
            p {
                margin-bottom: 15px;
            }

            a {
                color: $brand-4;
                &:hover {
                    color: $brand-3;
                }
            }

            .tags {
                font-size: 14px;
                margin-top: 40px;
            }
        }

        .comment-list {
            .comment {             
                padding-top: 20px;
                padding-bottom: 10px;
                border-bottom: 1px dashed $gray-7;

                &:last-child {
                    border-bottom: none;
                }

                .comment-meta {
                    font-size: 12px;
                }
            }
            
        }

        .comment-form {
            input.submit {
                @extend .button;
            }
        }
    }
}

// Backgrounds

.webinars {
    #page-intro {
        background-image: url('#{$img-path}bg/general-webinars.jpg');
    }
}
.events {
    #page-intro {
        background-image: url('#{$img-path}bg/general-events.jpg');
    }
}
.training {
    #page-intro {
        background-image: url('#{$img-path}bg/general-training.jpg');
    }
}
