//
// PRODUCT STYLES
//
#page-header {
    @media (max-width: $screen-sm-max) {
        padding-top: 50px;
    }
    background-size: cover;
    background-position: bottom;
    padding-top: 168px;
    .page-title {
        margin-top: 120px;
        color: $gray-1;
        h4,
        h3 {
            text-transform: uppercase;
        }
        h4 {
            @media (max-width: $screen-sm-max) {
                font-size: 22px;
                line-height: 34px;
            }            
        }
        h2 {
            text-transform: uppercase;
            margin-top: 0px;            
            
            @media (max-width: $screen-sm-max) {
                font-size: 40px;
                line-height: 36px;
            }
        }
        h5 {
            margin-bottom: 50px;
        }
        .monitor-image {
            width: 100%;
            margin-top: -225px;
            position: absolute;
            @media (min-width: $screen-lg-min) {
                margin-top: -260px;
            }
        }
        .button-row {
            margin-bottom: 80px;
            .button {
                margin-right: 15px;
            }
        }
    }
}

#page-header-stripe {
    height: 94px;
    color: white;
    background-color: white;
    .row {
        margin-top: 28px;
        margin-left: -55px;
        img {
            margin-top: -8px;
            padding-right: 6px;
        }
        h5 {
            text-transform: uppercase;
            font-size: 20.5px;
        }
    }
}

#page-opening {
    background-image: url($img-path + 'bg/product-generic-opening.jpg');
    background-size: cover;
    > .container {
        padding: 120px 0px;
        @media (max-width: $screen-sm-max) {
            padding: 60px 0px;
        }
        .table-of-contents {
            padding: 0px;
            table {
                width: 100%;
                margin-bottom: 40px;
                td {
                    &:nth-of-type(1) {
                        width: 60px;
                        border-right: 1px solid $gray-4;
                        div {
                            transform: rotate(-90deg);
                            @extend .h7;
                            text-transform: uppercase;
                            letter-spacing: 1px;
                            height: 0px;
                        }
                    }
                    &:nth-of-type(2) {
                        width: 20px;
                    }
                    &:nth-of-type(3) {
                        div {
                            &:nth-of-type(1) {
                                border-top: 4px solid $gray-4;
                            }
                        }
                    }
                    .nav-arrow {
                        display: none;
                    }
                    a {
                        color: $brand-1;
                        &:hover,
                        &:active,
                        &:focus,
                        &.active {
                            .nav-arrow {
                                display: block;
                            }
                        }
                    }
                }
                &.explore {
                    td {
                        &:nth-of-type(3) {
                            div {
                                font-size: 18px;
                                padding: 10px 0px;
                                border-bottom: 1px solid $gray-4;
                            }
                        }
                    }
                }
                &.extras {
                    td {
                        &:nth-of-type(3) {
                            div {
                                font-size: 16px;
                                padding: 5px 0px;
                                &:nth-of-type(1) {
                                    padding-top: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .intro-copy {
            h4 {
                text-transform: uppercase;
                margin-top: -5px;
            }
            h5,
            p {
                @extend h5;
                margin: 20px 0px;
            }
            ul {
                @extend .body;
                li {
                    font-size: 16px;
                    &:before {
                    }
                }
            }
        }
    }
}

#page-library-select {
    background-color: $brand-1;
    color: $gray-1;

    .container {
        h4 {
            text-transform: uppercase;
        }

        .product-choose {
            padding-top: 90px;
            padding-bottom: 90px;
            text-align: right;

            select {
                max-width: 300px;
            }
        }

        .product-select {
            padding-top: 90px;
            padding-bottom: 90px;
            padding-left: 40px;
            background-size: cover;
            background-image: url("/wp-content/themes/transoft/img/library-background.png");
            min-height: 400px;
            color: $brand-2;
            background-position: right center;
            max-width: 1200px;
            display: none;
        }

        .template-buttons {
            margin-top: 40px;
            .button {
                margin-right: 10px;
            }

        }
    }
}

#page-overview-video {
    background-color: $brand-1;
    .container {
        .thumbnail-container {
            .overview-video-thumbnail {
                background-size: cover;
                width: 100%;
                height: 500px;
                .video-playicon {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
        .thumbnail-description {
            padding: 120px 0px 120px 20px;
            h5 {
                &.title {
                    font-size: 18px;
                    text-transform: uppercase;
                }
                font-size: 16px;
                color: $gray-1;
            }
            .linkout {
                color: white;
                &:hover,
                &:active,
                &:focus {
                }
            }
        }
    }
}

#page-freetrialform {
    background-size: cover;
    padding-top: 90px;
    padding-bottom: 90px;
    h4 {
        color: $gray-1;
        text-transform: uppercase;
        margin-top: 40px;
    }
    h5 {
        color: $gray-1;
        font-size: 16px;
        margin-bottom: 24px;
    }
    .formfield.state,
    .formfield.province {
        display: none;
    }
    .validationMessage h5 {
        visibility: hidden;
    }
    .submit {
        margin-top: 10px;
    }
    .thankYouMessage,
    .errorMessage {
        display: none;
        hr {
            margin-bottom: 40px;
        }
    }
    #clickdimensionsForm {
        .requiredInfo {
            color: white!important;
        }
        .buttonContainer {
            margin-top: 30px;
        }
    }
}

#page-help {
    background-image: url($img-path + 'bg/product-generic-help.jpg');
    background-size: cover;
    padding: 150px 0px;
}

#page-webinar-feature {
    background-position: bottom;
    background-size: cover;
    padding: 60px 0px;
    color: $gray-1;
    h4 {
        text-transform: uppercase;
    }

    a.button {
        display: inline-block;
        margin-top: 20px;
    }

    &.layout-left {
    }

    &.layout-right {
        .container > div {
            //text-align: right;
        }
    }
}

#page-feature-select {
    background-position: bottom;
    background-size: cover;
    padding: 70px 0px;
    #feature-dropdown {
        padding: 20px;
    }
    h5 {
        text-transform: uppercase;
        color: $gray-7;
    }
    .body-text {
        color: $gray-1;
    }
}

#page-features-rows {
    padding: 0px;
    .feature-row {
        padding: 76px 0px;
        transition: 0.8s;
        &:nth-of-type(odd) {
            background-color: $gray-3;
        }
        &:nth-of-type(even) {
            background-color: $gray-2;
        }
        .feature-text {
            margin-bottom: 50px;
            h6 {
                text-transform: uppercase;
                letter-spacing: 1px;
            }
            h5 {
                text-transform: uppercase;
            }
        }
        .feature-thumbnail {
            .video-playicon {
                display: none;
            }
            .thumb[data-lb-format='video'] .video-playicon {
                display: block;
            }
        }
        &:hover,
        &:active,
        &:focus {
            background-color: $gray-1;
        }
    }
}

#page-overview-features {
    background-image: url($img-path + 'bg/product-generic-gradient.jpg');
    background-position: bottom;
    background-size: cover;
    padding: 120px 0px;
    h4 {
        text-transform: uppercase;
        margin-bottom: 60px;
    }
    .feature-row {
        > .row {
            padding: 0px;
            .feature-cell {
                margin-bottom: 60px;
                h5 {
                    text-transform: uppercase;
                    margin: 40px 0px 20px;
                }
                h6 {
                    font-size: 16px;
                    line-height: 24px;
                }
            }
        }
    }
}

#page-support {
    background-image: url($img-path + 'bg/product-generic-help.jpg');
    background-position: bottom;
    background-size: cover;
    padding: 110px 0px;
    h5 {
        margin-bottom: 40px;
    }
    .support-block {
        margin-bottom: 30px;
        > a {
            display: block;
            padding: 50px 0px 45px;
            background-color: $gray-2;
            border-radius: 6px;
            border: 1px solid $gray-4;
            transition: 0.5s;
            &:hover,
            &:focus,
            &:active {
                background-color: $gray-3;
            }
            h6 {
                margin-top: 20px;
                text-transform: uppercase;
                font-family: $font-bold;
                color: $brand-1;
            }
        }
    }
    ul.icon-list {
        list-style-type: none;
        padding-left: 0px;
        li {
            font-size: 16px;
            margin-bottom: 25px;
            a {
                color: $brand-1;
                img {
                    margin-right: 15px;
                }
                &:hover,
                &:focus,
                &:active {
                    color: $brand-2;
                    img {
                        opacity: 0.5;
                    }
                }
            }
        }
    }
}

#page-instructions {
    background-image: url($img-path + 'bg/product-generic-instructions.jpg');
    background-size: cover;
    > .container {
        padding: 70px 0px;
        .instruction-step {
            padding: 0 25px;
            h5 {
                text-transform: uppercase;
                margin: 26px 0px;
            }
            h6 {
                font-size: 16px;
                color: $brand-1;
                line-height: 22px;
            }
            @media (min-width: $screen-md-min) {
                &:nth-of-type(2) {
                    border-left: 1px solid $gray-7;
                    border-right: 1px solid $gray-7;
                }
            }
        }
    }
}

#page-platform {
    background-size: cover;
    background-position: bottom;
    padding: 120px 0px;
    h4 {
        text-transform: uppercase;
    }
    table {
        width: 100%;
        margin-top: 30px;
        thead tr td {
            @extend h6;
            color: $gray-7;
            text-transform: uppercase;
            letter-spacing: 1px;
        }
        td {
            @extend h5;
            color: $gray-1;
            font-size: 16px;
            border-bottom: 1px solid $gray-4;
            padding: 10px 0px;
        }
    }
}

.page-case-studies {
    &:nth-of-type(odd) {
        background-image: url($img-path + 'bg/product-generic-casestudy2.jpg');
    }
    &:nth-of-type(even) {
        background-image: url($img-path + 'bg/product-generic-casestudy1.jpg');
    }
    background-position: top;
    background-size: cover;
    padding-bottom: 60px;
    .casestudy-row {
        padding-bottom: 70px;
        margin-top: 60px;
        &:not(:last-child) {
            border-bottom: 1px solid $gray-8;
        }
        .casestudy-cell {
            margin-top: 60px;
            padding: 40px 40px 40px 40px;
            &:nth-of-type(odd) {
                border-right: 1px solid $gray-8;
            }
            .casestudy-logo {
                margin-bottom: 30px;
            }
            h5 {
                text-transform: uppercase;
            }
        }
    }
}

#page-comparison-tabs {
    background-color: $gray-2;
    .comparison-tab {
        display: inline-block;
        font-size: 18px;
        padding: 20px 30px;
        cursor: pointer;
        transition: 0.4s;
        &.active,
        &:hover {
            background-color: $gray-9;
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
        }
    }
}

#page-comparison-grid {
    background-color: $gray-9;
    padding: 70px 0px 100px;
    .row {
        margin-bottom: 30px;
    }
    .grid:last-child {
        //display: none; 
    }
    table {
        margin-bottom: 40px;
        td {
            padding: 20px;
            transition: 0.5s;
            &.lowlight {
                background-color: $gray-2;
            }
            &.highlight {
                background-color: $gray-4!important;
            }
        }
        thead {
            td {
                &:first-child {
                    @extend h6;
                    text-transform: uppercase;
                    font-family: $font-bold;
                    letter-spacing: 1px;
                    width: 100%;
                }
                &:not(:first-child) {
                    width: 77px;
                    @extend h5;
                    text-align: center;
                }
            }
        }
        tbody {
            cursor: pointer;
            td {
                background-color: $gray-1;
                border: 1px solid $gray-9;
                &:first-child {
                    @extend .body-text;
                }
                &:not(:first-child) {
                    text-align: center;
                }
            }
            // rounded corners
            tr:first-child {
                td:first-child {
                    border-top-left-radius: 8px;
                }
                td:last-child {
                    border-top-right-radius: 8px;
                }
            }
            tr:last-child {
                td:first-child {
                    border-bottom-left-radius: 8px;
                }
                td:last-child {
                    border-bottom-right-radius: 8px;
                }
            }
        }
    }
    .grid.products {
        table {
            tbody {
                td:nth-of-type(2) {
                    background-color: $gray-7;
                }
            }
        }
    }
}

#page-cta {
    background-size: cover;
    //height: 139px;
    padding-top: 58px;
    padding-bottom: 30px;
    
    .product-logo {
        h5 {
            color: white;
            text-transform: uppercase;
            font-size: 20.5px;
        }
        img {
            margin-top: -8px;
            padding-right: 7px;
        }
        
        
        @media (max-width: $screen-xs-max) {
            margin-top: 53px;
        }
    }
    .button {
        margin-right: 15px;
    }
}

#page-form-buynow {
    background-image: url($img-path + 'bg/product-generic-gradient.jpg');
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 120px;
    h5 {
        text-transform: uppercase;
        margin-top: 20px;
    }
    input,
    select,
    textarea {
        border-color: $gray-7;
        border-width: 1px;
    }
    
    .formfield.state,
    .formfield.province {
        display: none;
    }
    .validationMessage h5 {
        text-transform: none;
    }
    .submit {
        margin-top: 10px;
    }
    #thankYouMessage,
    #errorMessage {
        //display: none;
        h5 {
            text-transform: none;
        }
        hr {
            margin-bottom: 40px;
            border-color: $brand-1;
        }
    }
    #clickdimensionsForm {
        .requiredInfo {
            color: white!important;
        }
        .buttonContainer {
            margin-top: 30px;
        }
    }    
}

#page-library-select {
    background-size: cover;

    .product-choose {
        h5 {
            text-transform: uppercase;
        }
    }

    .form-container {
        min-width: 250px;
        text-align: left;
        display: inline-block;
        padding-right: 30px;
    }
}
