
body.template-sku-aviplan {
    #page-sku-header {
        background-image: url($img-path + 'bg/industry-air-sku-01.jpg');
        #navigation-bar {
            background-color: rgba($air-1, 0.5);
        }
    }
    #page-sku-body {
        background-image: url($img-path + 'bg/industry-air-sku-02.jpg');
        #navigation-bar {
            background-color: rgba($air-1, 1);
        }        
        
        .sku-row {
            .sku-block-logo {
                h5 {
                    color: $air-2;
                }
            }
            
            .sku-block-cta {
                a.linkout {
                    color: $air-2;
                    
                    &:hover, &:active, &:focus {
                        color: $brand-1;
                    }
                }
            }
        }        
    }
    #page-sku-info {
        h3 {
            color: $air-2;
        }
        .infoblock-row {
            .info-block {
                h5 {
                    color: $air-2;
                }
            }
        }
    }
    
}

body.template-sku-autoturn {
    #page-sku-header {
        background-image: url($img-path + 'bg/industry-vehicle-sku-01.jpg');
        #navigation-bar {
            background-color: rgba($vehicle-1, 0.5);
        }
    }
    #page-sku-body {
        background-image: url($img-path + 'bg/industry-vehicle-sku-02.jpg');
        .sku-name {
            h4 {
                color: $vehicle-2;
            }
        }
        .sku-row {
            .sku-block-logo {
                h5 {
                    color: $vehicle-2;
                }
            }
            
            .sku-block-cta {
                a.linkout {
                    color: $vehicle-2;
                    
                    &:hover, &:active, &:focus {
                        color: $brand-1;
                    }
                }
            }
        }      
    }
    #page-sku-info {
        h3 {
            color: $vehicle-2;
        }
        .infoblock-row {
            .info-block {
                h5 {
                    color: $vehicle-2;
                }
            }
        }
    }
}