footer {
    color: white;

    &#nav {
        background-color: $brand-1;

        .container {
            padding-top: 70px;

            .sitemap {
                margin-top: 40px;

                table {
                    color: $gray-2;
                    font-family: $font;
                    width: 100%;
                    margin-bottom: 30px;

                    td {
                        padding-top: 2px;
                        padding-bottom: 2px;
                    }

                    thead td {
                        color: $gray-4;
                        border-bottom: 4px solid $gray-4;
                        padding-top: 8px;
                        padding-bottom: 8px;
                    }
                }

                .products {
                    font-size: 18px;

                    td {

                        padding-top: 8px;
                        padding-bottom: 8px;

                        &:not(.h7) {
                            border-bottom: 1px solid $gray-4;
                        }
                    }
                }

                .otherlinks {
                    font-size: 16px;

                    @media (min-width: $screen-xs-max) {
                        margin-left: 40px;
                    }

                    td:first-child {
                        padding-top: 8px;
                    }

                    .icon {
                        padding-right: 15px;
                    }
                }
            }
        }
    }

    &#anchor {
        background-color: $brand-2;

        .container {
            padding-top: 30px;
            padding-bottom: 30px;

            .button.pull-left {
                margin-right: 40px;
            }

            .h7 {
                color: $brand-3;
            }

            h6 {
                color: $gray-4;
            }
            .footer-list {

                margin-top: 10px;

                ul {
                    padding-left: 0px;
                    
                    li {
                        display: inline;
                        padding-left: 15px;
                        padding-right: 15px;

                        a:not(.button) {
                            color: $gray-3;

                            &:hover, &:active, &:focus {
                                color: $brand-3;
                                text-decoration: none;
                                border-bottom: 3px solid $brand-3;
                                padding-bottom: 6px;
                            }
                        }
                    }
                }

            }
        }

    }
}
