input[type='text'] {
    width: 100%;
    margin: 12px 0px;
    height: 50px;
    padding: 12px;

    font-family: $font;
    color: $brand-1;
    font-size: 16px;

    border-style: solid;
    border-color: $gray-2;
    border-radius: 3px;
}

select {
    width: 100%;
    margin: 12px 0px;
    padding: 16px 10px;

    font-family: $font-bold;
    color: $brand-1;
    font-size: 12px;
    line-height: 34px;
    text-transform: uppercase;

    border-style: solid;
    border-color: $gray-2;
    border-radius: 6px;
    border-width: 2px;
}

input[type='checkbox'] {
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

textarea {
    width: 100%;
    border-radius: 6px;
    height: 200px;
    padding: 15px;
    font-size: 16px;
}

.checkboxes {
    font-size: 16px;
}

.invalidField {
    background-color: lightgoldenrodyellow;
    border-color: red!important;
}
