/*
 * NAVIGATION BAR
 */

#nav-top {
	background-color: $brand-1;
	color: $gray-5;
    border: 0px;

    .desktop-nav {

        @media (max-width: $screen-sm-max) {
            display: none!important;
        }

        ul.navbar-nav {

            padding: 3px 0px;
            height: 56px;

            li a {
                color: $gray-5;

                img.icon {
                    padding-right: 10px;
                }

                &:hover {
                    color: $brand-3;
                }
            }

            li.nav-menu {
                text-transform: uppercase;
                font-size: 11px;
                letter-spacing: 1px;
                font-family: $font;
            }

            li.nav-separator {
                border-left: 1px solid $gray-1;
                padding-left: 15px;
                margin-left: 15px;
                margin-top: 16px;

                @media (max-width: $screen-xs-max) {
                    display: none;
                }
            }

            li.nav-store {
                font-family: $font-light;
                font-size: 16px;
            }
        }
    }

    .mobile-nav {
        @media (min-width: $screen-md-min) {
            display: none!important;
        }

        height: 56px;
        padding-top: 8px;

		.row {
			margin-left: 0px;
			margin-right: 0px;
		}

        .icon-hamburger {
            height: 28x;
            width: 28px;
            margin-top: 6px;
			cursor: pointer;
        }

    }
}

// Scrolls with page
#nav-main {

    @media (max-width: $screen-sm-max) {
        display: none;
    }

    margin-top: 14px;

    &.nav-inpage {
        ul li {
            color: $gray-1;
        }
    }
}

#nav-sticky {

    @media (max-width: $screen-sm-max) {
        display: none!important;
    }

    background-color: $brand-1;
    top: 56px;
    border: none;
    padding-top: 27px;
    height: 112px;
    display: none;
    border-top: 1px solid $gray-4;
    box-shadow: 0px 5px 10px rgba($brand-1,0.1);

    a:not(.button) {
        &:hover, &:active, &:focus {
            color: $brand-3;
            border-bottom-color: $brand-3;
        }
    }
    
    .button {
        border-color: $gray-1;
        color: $gray-1;
    }
}

.nav-main-list {
    margin-top: 36px;

    ul {
        li {
            display: inline;
            padding: 15px;
            font-family: $font;
            font-size: 18px;

            a:not(.button) {
                cursor: pointer;
                color: $gray-1;
                transition: 0.2s;

                &:hover, &:active, &:focus {
                    color: $gray-1;
                    text-decoration: none;
                    border-bottom: 3px solid $gray-1;
                    padding-bottom: 6px;
                }
            }

            &:last-child {
                padding-right: 0px;
                padding-left: 10px;
            }
        }
    }
}

#nav-dropdown-mobile-bg {
	background-color: rgba($brand-2, 0.9);
	height: 100%;
	top: 56px;
	border: none;
	display: none;
}

#nav-dropdown-mobile {

	display: none;

    @media (min-width: $screen-md-min) {
        display: none!important;
    }

    background-color: $brand-2;
    top: 56px;
	border-width: 0px;

	table {
		width: 100%;
		color: $gray-1;
		@extend h5;
		margin-top: 15px;
		margin-bottom: 15px;

		tr {
			&.sub-menu {
				display: none;
				@extend h6;
				font-size: 16px;

				td {
					padding-left: 40px;
				}
			}

			td {
				padding-left: 20px;
				padding-top: 8px;
				padding-bottom: 8px;

				a {
					cursor: pointer;
				}
			}
		}
	}
}

.nav-backdrop {
	background-color: rgba($brand-1, 0.5);
	top: 168px;
	width:100%;
	height: 100%;
	z-index:5;
	position: fixed;
	display: none;
}

#nav-dropdown {
    background-color: $brand-2;
    border: none;
    top: 168px;
    color: $gray-1;
    box-shadow: 0px 5px 10px rgba($brand-1,0.1);
    display: none;

    .container {
        display: none;
        padding-top: 36px;

        .nav-toc {
            width: 100%;
            margin-bottom: 20px;

            td:nth-of-type(1) {
                border-right: 1px solid $gray-4;
                padding-right: 22px;
                width: 40px;

                img {
                    width: 40px;
                }
            }
            td:nth-of-type(2) {
                width: 22px;
            }
            tr:nth-of-type(1) > td:nth-of-type(3) {
                border-top: 4px solid $gray-4;
            }

            td:nth-of-type(3) {
                //border-bottom: 1px solid $gray-4;
            }

            h5 {
                cursor: pointer;
				font-size: 16px;
				margin-top: 4px;
				margin-bottom: 4px;

                img.nav-submenu {
                    padding-top: 5px;
                    visibility: hidden;
                }
            }

            &:last-child {
                margin-bottom: 0px;
            }
        }

        .nav-subtoc-head {
            width: 100%;
            border-top: 4px solid $gray-4;
            margin-bottom: 8px;

            h5 {
                font-size: 16px;

                &:hover {
                    color: $brand-3;
                    cursor: pointer;
                }
            }
        }
        .nav-prodmenu {

            display: none;

            .nav-subtoc {

                width: 100%;

                thead > tr > td {
                    border-bottom: 1px solid $gray-4;
                    padding: 12px 0px;
                }

                .h7 {
                    color: $gray-4;
                }
                h5 {
                    font-size: 16px;
                    margin: 4px 0px;
                    cursor: pointer;

                    &:hover {
                        color: $brand-3;
                    }
                }

            }
        }

        .nav-desc {
            width: 100%;
            border-top: 4px solid $gray-4;

            .h7 {
                padding-top: 17px;
                padding-bottom: 11px;
            }
        }

        .nav-table {
            width: 100%;
            border-top: 4px solid $gray-4;

            td {
                border-bottom: 1px solid $gray-4;
            }
        }

        .nav-close-btn {
            padding-bottom: 30px;
            cursor: pointer;
            transition: 0.2s;
            margin-top: -15px;

            &:hover {
                opacity: 0.5;
            }
        }
    }
}

#breadcrumbs {

    list-style: none;
    margin: 17px 0;
    overflow: hidden;
    padding-left: 0px;

    li  {
        display: inline-block;
        vertical-align: middle;
        margin-right: 15px;

        img {
            margin-top: -3px;
            transition: 0.3s;
            width: 16px;
            height: 15px;
        }
        a img {
            &:hover {
                opacity: 0.5;
            }
        }
    }

    .separator {
        font-size: 18px;
        font-weight: 100;
        color: $gray-1;
    }
}

#navigation-bar {
    height: 58px;
    @extend .h7-bold;
    color: $gray-1;

    @media (max-width: $screen-sm-max) {
        height: auto;
    }

    ul {
        a {
            color: $gray-1!important;

            &:hover, &:active {
                color: $brand-4!important;
            }
        }
    }
}
