.body-content {
    
        #image-background {
            position: absolute;
            height: 100%;
            width: 100%;
            background: url($img-path + "bg-person2.png") no-repeat right top fixed; 
            opacity: 0.8;
        }
    
        @media (max-width: $screen-sm-max) {
            #image-background {
                opacity: 0.4!important;
            }
        }
    
        #content-background {    
            top: 0px;
            overflow: hidden;
            width:100%;
    
    
            .color-block {
                height: 600px;
                width: 200%;
                margin-left: -50%;
    
                &.block1 {
                    transform: rotate(-20deg);     
                    margin-top: -500px;   
                    background: url($img-path + "background-1.jpg"); 
                    background-size: cover;
                    opacity: 0.95;
                }
                
                &.block2 {
                    transform: rotate(-20deg);     
                    margin-top: 700px;   
                    background: url($img-path + "background-1.jpg"); 
                    background-size: cover;
                    opacity: 0.5;
                }
                &.block3 {
                    transform: rotate(20deg);     
                    background-color: rgba($light-2, 1);
                    margin-top: -60px;
                    background-size: cover;
                    opacity: 0.95;
                }
            }
        }
    
        #primary {
            position: absolute;
            top: 220px;
            width: 100%;
    
            .hero {
                @include font-title;
                font-size: 48px;
                margin-bottom: 40px;
    
                em {
                    font-size: 60px;
                    font-style: normal;
                }
                .secondary {
                    color: $secondary-2;
                }
            }

            .subtitle {
                font-size: 32px;
                font-style: italic;
            }

            .content-row {
                background-color: rgba($light-1, 0.6);
                padding-top: 40px;

                .content-body {
                    font-size: 24px;
                    line-height: 48px;
                    padding: 60px 0px;
                    p {
                        padding: 10px 0px;

                        
                    }

                    > p:first-child:first-letter {
                        color: $secondary-2;
                        float: left;
                        font-size: 92px;
                        line-height: 60px;
                        padding-top: 18px;
                        padding-right: 14px;
                        //padding-left: 3px;
                      }

                    h2, h3, h4 {
                        @include font_title;
                        font-size: 32px;
                        margin: 50px 0px 20px;
                        border-bottom: 1px solid $secondary-1;
                        padding-bottom: 20px;
                        color: $primary-2;
                        
                    }

                    table {
                        font-size: 18px;
                        line-height: 30px;
                        border-collapse: separate;
                        border-spacing: 3px;

                        th {
                            background-color: $secondary-2;
                            color: $light-1;
                        }

                        td {
                            background-color: $secondary-1;
                        }

                        th, td {
                            padding: 10px;
                            border-radius: 5px;
                            vertical-align: top;

                        }
                    }
                    
                }

                .table-of-contents {
                    padding: 70px 0px 0px;
                    font-size: 26px;
                    ul {
                        list-style:none;
                        margin: 0;
                        padding-left: 30px;
                        li {
                            padding: 10px 0px;

                            &:before {
                                content: "\300B";
                              }
                        }
                    }
                }

            }
    
        }

        /* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #eee;
	clip: auto !important;
	clip-path: none;
	color: #444;
	display: block;
	font-size: 1em;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
	/* Above WP toolbar. */
}
    
    }