.body-matrix {

    .container-infotip {
        z-index: 1000;
        position: fixed;
        bottom: 10px;
        width: 100%;
        //background-color: rgba($primary-2, 0.9);        
        color: $light-1;

        .infotip-cell {
            padding: 16px;
            background-color: rgba($primary-3,0.9);
            color: white;
            -webkit-box-shadow: 0px 0px 10px 0px  rgba($dark-1,0.5);
            -moz-box-shadow: 0px 0px 10px 0px  rgba($dark-1,0.5);
            box-shadow: 0px 0px 10px 0px rgba($dark-1,0.5);
            border-radius: 5px;            

            #matrixDefs {
                #defTitle {
                    padding-bottom: 8px;
                    margin-bottom: 8px;
                    font-size: 18px;
                    border-bottom: 1px solid $secondary-1;
                }
                #defInfo {
                    font-size: 14px;
                }
            }
        }
    }

    #primary {
        .settings-row {
            padding-top: 60px;
            padding-bottom: 60px;
            .toggle-row {
                font-size: 18px;

                .sku {
                    font-style: normal;
                    border-radius: 50px;
                    padding: 8px 24px 10px;
                    transition: 0.4s;
                    cursor: pointer;

                    &.active {
                        background-color: $secondary-2;
                        color: $light-1;
                    }

                    &:hover {
                        background-color: $secondary-1;
                        color: $light-1;
                    }
                }

                /* The switch - the box around the slider */
                .switch {
                    position: relative;
                    display: inline-block;
                    width: 30px;
                    height: 17px;
                    top: 5px;
                    margin-left: 10px;
                    margin-right: 10px;

                    input {
                        display: none;
                    }

                    /* The slider */
                    .slider {
                        position: absolute;
                        cursor: pointer;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        background-color: $primary-2;
                        -webkit-transition: .4s;
                        transition: .4s;

                        &:before {
                            position: absolute;
                            content: "";
                            height: 13px;
                            width: 13px;
                            left: 2px;
                            bottom: 2px;
                            background-color: $light-1;
                            -webkit-transition: .4s;
                            transition: .4s;
                        }

                          /* Rounded sliders */
                        &.round {
                            border-radius: 17px;

                            &:before {
                                border-radius: 50%;

                            }
                        }  
                    }

                    input:checked + .slider {
                        background-color: $primary-3;
                    }
                    
                    input:focus + .slider {
                        box-shadow: 0 0 1px $primary-3;
                    }
                      
                    input:checked + .slider:before {
                    -webkit-transform: translateX(13px);
                    -ms-transform: translateX(13px);
                    transform: translateX(13px);
                    }                    
                }
            }

            .button-row {
                font-size: 18px;
                .instructions {
                    text-decoration: underline;
                    cursor: pointer;
                    color: $primary-1;
                    margin-right: 20px;
                    display: inline;
                }
                .btn {
                    background-color: $secondary-2;
                    color: white;
                    margin-left:6px;
                    font-size: 18px;
                    transition: 0.4s;
                    &:hover {
                        background-color: $secondary-1;
                    }

                    &.btn-default {
                        background-color: $light-2;
                        color: $dark-1;
                        border-color: transparent;
                    }
                }
            }
        }
        .form-row {
            padding-top: 0px;
            padding-bottom: 0px;

            label {
                font-size: 18px;
                font-weight: normal;
            }

            .form-group {
                padding: 0px 15px;
                margin-bottom: 25px;
            }
        }

        .matrix-row {
            .pflDiffGroups{
                text-align:center;
                height:25px;
                vertical-align:top;
            }
            .pflDiffTitles{
                font-size:11px;
            }
            .pflCont {color:blue;}
            .pflProc {color:cadetblue;}
            .pflProd {color:dodgerblue;}

            table.matrixTable {
                width: 100%;
            }
        }
        .recommendations-row {
            padding-bottom: 30px;
            color: $light-1;

            .recommendations-cell {
                background-color: $primary-2;
                padding: 30px 20px;
            }

            .recommend-heading {
                padding-bottom: 8px;
                margin-bottom: 8px;
                font-size: 18px;
                border-bottom: 1px solid $secondary-1;          
            }

            .recommendations {
                font-size: 14px;
                margin-top: 10px;

                li {
                    padding:4px 0px;
                    
                    .rec-title {
                        font-weight: bold;

                    }
                    .rec-description {
                        font-style: italic;
                    }

                }
            }
        }
    }
}