.navbar {
    border-top: 20px solid $dark-1;
    background-color: $primary-1;
    transition: top 0.2s ease-in-out;
    
    &.nav-up {
        top: -130px;
    }

    .container {
        height: 60px;
        text-align: center;

        > div {
            display: inline-block;

            &.container-logo {
                width: 211px;
                margin: 0 auto;
            }

            &.navbar-items {
                color: $light-1;
                vertical-align: top;

                ul {                    
                    list-style-type: none;
                    margin-bottom: 0px;
                    font-size: 0px;
                    padding-left: 0px;

                    li {
                        width: 120px;
                        display: inline-block;
                        list-style-type: none;
                        line-height: 61px;
                        font-size: 16px;
                        cursor: pointer;
                        transition: 0.5s;

                        &:hover, &.active {
                            background-color: $primary-3;
                        }

                        a {
                            color: $light-1;
                        }
                    }
                }

                &.navbar-leftside {
                    margin-right: -3px;
                }

                &.navbar-rightside {
                    margin-left: -3px;
                }
            }

            &.navbar-mobile {
                width: 32px;
                margin-top: 14px;

                .mobile-menu {
                    cursor: pointer;
                }
            }

            &.links {
                height: 60px;
                width: 25%;

                ul {
                    list-style:none;
                    li {
                        display:inline-block;
                    }
                }
            }
        }
    }
}

#nav-menu-mast {
    top: 81px;
    position: fixed;
    z-index: 100;
    width: 100%;
    background-color: $primary-3;
    color: $light-1;
    padding: 60px 0px 20px;
    font-size: 16px;
    display: none;

    -webkit-box-shadow: 0px 15px 30px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 15px 30px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 15px 30px 0px rgba(0,0,0,0.5);

    .menu-mast {
        padding: 0px 60px;

        &.menu-mast-right {
            border-right: 2px solid $primary-1;
        }

        ul {
            padding-left: 0px;
            li {
                list-style-type: none;
                line-height: 48px;
                cursor: pointer;
                position: relative;

                img.arrow {
                    top: 15px;     
                    position: absolute;
                    right: -71px; 
                    visibility: hidden;
                }

                &:hover {
                    text-decoration: underline;

                    img.arrow {
                        visibility: visible;
                    }
                }

                a {
                    color: $light-1;
                }
            }
        }
    }
}


#nav-menu-search {
    top: 81px;
    position: fixed;
    z-index: 100;
    width: 100%;
    background-color: $primary-3;
    color: $light-1;
    padding: 60px 0px 20px;
    font-size: 16px;
    display: none;

    -webkit-box-shadow: 0px 15px 30px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 15px 30px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 15px 30px 0px rgba(0,0,0,0.5);

    .search-container {
        text-align: center;
        margin-bottom: 20px;
        margin-top: 20px;

        .search-box {

            #s {
                width: 50%;
                background-color: $dark-1;
                border: 0px;
                padding: 10px 20px;
                color: $light-1;
            }
            input[type=submit] {
                background-color: $secondary-2;
                transition: 0.3s;
                border: 0px;
                padding: 10px 25px;
                &:hover {
                    background-color: $secondary-3;
                }
            }
        }
    }
}


.breadcrumb-container {
    position: fixed;
    top: 0px;
    width: 100%;
    .breadcrumb-row {
        background-color: rgba($secondary-2, .95);
        .breadcrumbs {
            color: $light-1;
            line-height: 40px;
            font-size: 14px;
            list-style:none;
            margin: 0;
            overflow:hidden;
            padding-left: 0px;

            a {
                color: $light-1;
                font-weight: bold;
            }

            li{
                display:inline-block;
                vertical-align:middle;
                margin-right:15px;
            }
              
            .separator{
                font-size:18px;
                font-weight:100;
                color:$light-1;
            }
        }
    }    
}